<div class="container is-max-widescreen quiz-content is-flex-direction-column quiz-content">
    <h1>MOVIE QUIZ </h1>
<div id="timer">

</div>

    <span>
      <h3 class="col is-two-thirds">**Questions will appear here**</h3>
      <p class="col is-one-third ">**Answers will appear here**</p>
    </span>

  </div>