<section id="quiz-content" class="section">
  <link rel="stylesheet" href="css/quiz.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

  <div id="main" class="container">
    <h1 class="card-header card-header-title is-centered">WELCOME TO THE *GENRE* MOVIE QUIZ </h1>
    <div class="columns">
      <div id="question-container" class="column">
        QUESTIONS
      </div>
    </div>

    <section id="answers" class="btn-grid">
      <div class="row">
        <button class="btn">ANSWER ONE</button>
      </div>
      <br>
      <div class="row">
        <button class="btn">ANSWER TWO</button>
      </div>
      <br>
      <div class="row">
        <button class="btn">ANSWER THREE</button>
      </div>
      <br>
      <div class="row">
        <button class="btn">ANSWER FOUR</button>
      </div>
    </section>

    <div class="card-footer">
      <i class="fa fa-backward" aria-hidden="true"></i>
      <i class="fa fa-stop" aria-hidden="true"></i>
      <i class="fa fa-play" aria-hidden="true"></i>
      <i class="fa fa-pause" aria-hidden="true"></i>
      <i class="fa fa-forward" aria-hidden="true"></i>

      <!-- Box office button starts -->
      <button class="button card-footer-item">
        <a href="/highscores">
          <span class="icon">
            <i class="fa fa-ticket" aria-hidden="true"></i>
          </span>
          <span>BOX OFFICE </span></a>
      </button>


      <!-- Highscore button starts -->
      <button class="button card-footer-item">
        {{#unless highscores}}
        <span><a href="/highscores">HIGHSCORES</a></span>
        {{/unless}}
        {{#if highscores}}
        <span><a href="/">BACK TO QUIZ</a></span>
        {{/if}}
        <span class="icon">
          <i class="fa fa-film" aria-hidden="true"></i>
        </span>

      </button>

    </div>
  </div>
</section>