.container {
    height: 400px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-image-slice: 27 27 27 27;
    border-image-width: 30px 30px 30px 30px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url("film-border.jpeg")
  }
  
  .quiz-content {  
    border-style: solid;
  }
  